# -*- coding: utf-8 -*-
# vim: ft=yaml:ts=2:sw=2
#
# Not all values listed here are considered as default-variables
#
mysql:
  version: 5.7
  repos:
    # each listitem will directly passed to states.pkgrepo
    # yums gpgkey beginning with 'file://' will be copied from salt://percona/files/
    - name: deb https://repo.example.com/apt xenial main
      key_url: salt://percona/files/my-keyring.gpg
  root_password: <password>
  reload_on_change: True
  tcmalloc_enabled: True
  hold_server_pkg: True #hold the installed version of percona-server (prevents automatic restarts on upgrade)
  datadir: /var/lib/mysql
  config_directory: #there is a default for every distribution but you can overvrite if you want to
  install_motd: True #print mysqld version as part of motd. Ubuntu only at the moment
  remove_test_database: False #removes a database called test. Caution: Will always remove any database called "test", not just the database created by mysql_install_db
  config:
    # defintions for my.cnf are going to overwrite default-config
    # every other file will managed in config directory
    my.cnf:
      mysqld:
        thread_pool_size: 3
        table_open_cache: 4000
      append:
        "!includedir /etc/mysql/conf.d/": no_param
        "!includedir /etc/mysql/percona-server.conf.d/": no_param

    server.cnf:
      client:
        port: 3306
        socket: /var/run/mysqld/mysqld.sock
      mysqld_safe:
        socket: /var/run/mysqld/mysqld.sock
        nice: 0
      mysqld:
        user: mysql
        pid_file: /var/run/mysqld/mysqld.pid
        socket: /var/run/mysqld/mysqld.sock
        port: 3306
        basedir: /usr
        datadir: /var/lib/mysql
        tmpdir: /tmp
        lc_messages_dir:  /usr/share/mysql
        bind_address: 127.0.0.1
        symbolic_links: 0
        skip_external_locking: no_param
      mysqldump:
        quick: no_param
        quote_names: no_param
        max_allowed_packet: 16M
      isamchk:
        key_buffer_size: 16M

  db_users:
    root:
      host: 127.0.0.1
      password: foobar
      databases:
        - database: '*'
          grant: ['all privileges']
          grant_option: False
          ssl_option:
            - SSL: True
